.sidebar {
  flex-basis: 48rem;
  background-color: var(--color-dark-1);
  padding: 4rem 4rem 3rem 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-right: 1px solid var(--color-dark-2);
  z-index: 500;
  box-shadow: var(--shadow-md);
  overflow-y: hidden;
}

.footer {
  margin-top: auto;
  width: 100%;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light-4);
  text-align: center;
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-basis: auto;
    padding: 2rem;
    border-right: none;
    border-top: 1px solid var(--color-dark-2);
    order: 2; /* Move sidebar to bottom of flex container */
  }

  .footer {
    display: none; /* Hide footer on small screens to save space */
  }
}
